.card {
    font-family: system-ui;
    line-height: 3;
    padding:2rem;
    background-color: black;
    color: white;
    font-size: 3rem;
    border-radius: 4rem;
}
    .card__title {
        font-size: 3rem;
        color: white;

    }
    .card__excerpt {}
    .card__image {
        margin:3rem 0;
        object-fit: contain;
            width: 100%; /
            height: auto; 
            display: block; 
          
          
    }
    .card__more {
        display:block;
        text-align: left;
        padding: rem2;
        background-color: grey;
        transition:border-radius 0.2s linear;
    }

    .card__more:hover{
        background-color: red;
        border-radius: 2em;
    }
   
    .card__more:active {
        background-color: rgb(29, 22, 22);
    }

    @media screen and (min-width: 1024px) {
      .card {
        background-color: rgb(40, 56, 79);
      }
      .card__title {
        font-size: 3.75rem;
      }
      .card__excerpt {}
      .card__image {}
      .card__more {}
      .card__more:hover {
        background-color: greenyellow;
        border-radius: 3em;
      }
      .card__more:active {}
    }

     /* You can leave everything below as is — we'll explain flexbox in a later lecture! */

     .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 8vw;
      }
